CREATE DATABASE QUANLYVATNUOICAYTRONG
GO
USE QUANLYVATNUOICAYTRONG
GO
CREATE TABLE DOI_TUONG
(
	IDDOITUONG CHAR(5),
	TENDOITUONG NVARCHAR(20),
	IDKHUVUC CHAR(5),
	NGAYNHAP DATE,
	NGAYXUAT DATE,
	CONSTRAINT PK_DOITUONG
	PRIMARY KEY (IDDOITUONG)
)
GO
CREATE TABLE LOAI_THUCAN_PHANBON
(
	IDLOAI CHAR(5),
	TENLOAI NVARCHAR(20),
	CONSTRAINT PK_LOAITHUCANPHANBON
	PRIMARY KEY (IDLOAI)
)
GO
CREATE TABLE LUONG_TIEU_THU
(
	IDDOITUONG CHAR(5),
	IDLOAI CHAR(5),
	SOLUONG_1NGAY INT,
	CONSTRAINT PK_LUONGTIEUTHU
	PRIMARY KEY (IDDOITUONG,IDLOAI)
)
GO
CREATE TABLE KHU_VUC
(
	IDKHUVUC CHAR(5) PRIMARY KEY,
	TENKHUVUC NVARCHAR(20),
)
GO
CREATE TABLE NHA_CUNG_CAP
(
	IDNCC CHAR(5),
	TENNCC NVARCHAR(20),
	TENSPCUNGCAP NVARCHAR(20),
	DIACHI NVARCHAR(100),
	SDT CHAR(11),
	CONSTRAINT PK_NCC
	PRIMARY KEY(IDNCC)
)
GO
CREATE TABLE CHI_PHI_THUC_PHAN
(
	IDLOAI CHAR(5),
	IDNCC CHAR(5),
	SOLUONG INT,
	GIA_1KG INT,
	CONSTRAINT PK_CHIPHITHUCPHAN
	PRIMARY KEY(IDLOAI,IDNCC)
)
GO
CREATE TABLE CHI_PHI_DOI_TUONG
(
	IDDOITUONG CHAR(5),
	IDNCC CHAR(5),
	SOLUONG INT,
	GIA_1CON INT,
	CONSTRAINT PK_CHIPHIDOITUONG
	PRIMARY KEY(IDDOITUONG,IDNCC)
)
GO
CREATE TABLE BENH
(
	IDBENH CHAR(5),
	TENBENH NVARCHAR(50),
	DAUHIEU NVARCHAR(500),
	PHONGBENH NVARCHAR(500),
	CONSTRAINT PK_BENH
	PRIMARY KEY (IDBENH)
)
GO
CREATE TABLE TINH_TRANG_SUC_KHOE
(
	IDDOITUONG CHAR(5),
	IDBENH CHAR(5),
	TINHTRANG NVARCHAR(20),
	CHIPHICHUATRI INT,
	CONSTRAINT PK_TINHTRANGSUCKHOE
	PRIMARY KEY(IDDOITUONG,IDBENH)
)
GO
CREATE TABLE NGUON_TIEU_THU
(
	IDNHATIEUTHU CHAR(5),
	TENNHATIEUTHU NVARCHAR(20),
	SPTHUMUA NVARCHAR(20),
	DIACHI NVARCHAR(100),
	SDT CHAR(11),
	CONSTRAINT PK_NGUONTIEUTHU
	PRIMARY KEY (IDNHATIEUTHU)
	
)
GO
CREATE TABLE THU
(
	IDDOITUONG CHAR(5),
	IDNHATIEUTHU CHAR(5),
	IDSANPHAMTIEUTHU CHAR(5),
	TENSANPHAMTIEUTHU NVARCHAR(50),
	SOLUONG INT,
	GIATHANH INT,
	CONSTRAINT PK_THU
	PRIMARY KEY (IDDOITUONG,IDNHATIEUTHU,IDSANPHAMTIEUTHU)
)
--FK
--DOITUONG
ALTER TABLE dbo.DOI_TUONG
ADD CONSTRAINT FK_DT_KV
FOREIGN KEY (IDKHUVUC)
REFERENCES dbo.KHU_VUC(IDKHUVUC)
GO
--LUONGTIEUTHU
ALTER TABLE dbo.LUONG_TIEU_THU
ADD CONSTRAINT FK_LTT_DT
FOREIGN KEY (IDDOITUONG)
REFERENCES dbo.DOI_TUONG(IDDOITUONG)
GO
ALTER TABLE dbo.LUONG_TIEU_THU
ADD CONSTRAINT FK_LTT_LOAI
FOREIGN KEY (IDLOAI)
REFERENCES dbo.LOAI_THUCAN_PHANBON(IDLOAI)
GO
--CHIPHITHUCAN_PB
ALTER TABLE dbo.CHI_PHI_THUC_PHAN
ADD CONSTRAINT FK_CPTAPB_LOAI
FOREIGN KEY(IDLOAI)
REFERENCES dbo.LOAI_THUCAN_PHANBON(IDLOAI)
GO
ALTER TABLE dbo.CHI_PHI_THUC_PHAN
ADD CONSTRAINT FK_CPTAPB_NCC
FOREIGN KEY(IDNCC)
REFERENCES dbo.NHA_CUNG_CAP(IDNCC)
GO
--CHIPHI_DOITUONG
ALTER TABLE dbo.CHI_PHI_DOI_TUONG
ADD CONSTRAINT FK_CPDT_DT
FOREIGN KEY (IDDOITUONG)
REFERENCES dbo.DOI_TUONG(IDDOITUONG)
GO
ALTER TABLE dbo.CHI_PHI_DOI_TUONG
ADD CONSTRAINT FK_CPDT_NCC
FOREIGN KEY(IDNCC)
REFERENCES dbo.NHA_CUNG_CAP(IDNCC)
GO
--TINHTRANG_SUCKHOE
ALTER TABLE dbo.TINH_TRANG_SUC_KHOE
ADD CONSTRAINT FK_TTSK_DT
FOREIGN KEY (IDDOITUONG)
REFERENCES dbo.DOI_TUONG(IDDOITUONG)
GO
ALTER TABLE dbo.TINH_TRANG_SUC_KHOE
ADD CONSTRAINT FK_TTSK_BENH
FOREIGN KEY (IDBENH)
REFERENCES dbo.BENH(IDBENH)
GO
--THU
ALTER TABLE dbo.THU
ADD CONSTRAINT FK_THU_DT
FOREIGN KEY (IDDOITUONG)
REFERENCES dbo.DOI_TUONG(IDDOITUONG)
GO
ALTER TABLE dbo.THU
ADD CONSTRAINT FK_THU_TT
FOREIGN KEY (IDNHATIEUTHU)
REFERENCES dbo.NGUON_TIEU_THU(IDNHATIEUTHU)
--NHAP DU LIEU
GO
--KHU VUC
INSERT dbo.KHU_VUC( IDKHUVUC, TENKHUVUC )
VALUES  ( 'KVVN1',N'KHU VỰC VẬT NUÔI 1' )
INSERT dbo.KHU_VUC( IDKHUVUC, TENKHUVUC )
VALUES  ( 'KVVN2',N'KHU VỰC VẬT NUÔI 2' )
INSERT dbo.KHU_VUC( IDKHUVUC, TENKHUVUC )
VALUES  ( 'KVVN3',N'KHU VỰC VẬT NUÔI 3' )

GO
--LOAI_THUCAN_PHANBON
INSERT dbo.LOAI_THUCAN_PHANBON( IDLOAI, TENLOAI )
VALUES  ( 'CO',N'CỎ'  )
INSERT dbo.LOAI_THUCAN_PHANBON( IDLOAI, TENLOAI )
VALUES  ( 'CAM',N'CÁM'  )
INSERT dbo.LOAI_THUCAN_PHANBON( IDLOAI, TENLOAI )
VALUES  ( 'LUA',N'LÚA'  )

GO
--DOITUONG
--VAT NUOI
INSERT dbo.DOI_TUONG( IDDOITUONG ,TENDOITUONG ,IDKHUVUC ,NGAYNHAP ,NGAYXUAT)
VALUES  ( 'VN1' ,  N'HEO' ,'KVVN1' , '8/11/2016','8/11/2018' )
INSERT dbo.DOI_TUONG( IDDOITUONG ,TENDOITUONG ,IDKHUVUC ,NGAYNHAP ,NGAYXUAT)
VALUES  ( 'VN2' ,  N'HEO' ,'KVVN1' , '8/11/2016','8/11/2018' )
INSERT dbo.DOI_TUONG( IDDOITUONG ,TENDOITUONG ,IDKHUVUC ,NGAYNHAP ,NGAYXUAT)
VALUES  ( 'VN3' ,  N'HEO' ,'KVVN1' , '8/11/2016','8/11/2018' )




--CAY TRONG


GO
--TIEUTHU
INSERT dbo.NGUON_TIEU_THU( IDNHATIEUTHU ,TENNHATIEUTHU ,SPTHUMUA ,DIACHI ,SDT)
VALUES  ( 'NTT1' , N'THÁI HƯNG' , N'THỊT' , N'CỦ CHI' , '01658757926' )
INSERT dbo.NGUON_TIEU_THU( IDNHATIEUTHU ,TENNHATIEUTHU ,SPTHUMUA ,DIACHI ,SDT)
VALUES  ( 'NTT2' , N'VĂN TRUNG' , N'RAU CỦ' , N'NINH THUẬN' , '01666101012' )
INSERT dbo.NGUON_TIEU_THU( IDNHATIEUTHU ,TENNHATIEUTHU ,SPTHUMUA ,DIACHI ,SDT)
VALUES  ( 'NTT3' , N'MINH DƯƠNG' , N'SỮA' , N'BIÊN HÒA' , '0166001256' )
GO
--BENH
--VATNUOI
INSERT dbo.BENH( IDBENH, TENBENH, DAUHIEU, PHONGBENH )
VALUES  ( 'BVN1',N'BỆNH TAI XANH',N'Khi bị nhiễm vi rút, lợn thường biếng hoặc bỏ ăn từ 7-
14 ngày, sốt trên 400C, thường sảy thai vào giai đoạn cuối, đẻ non, động đực giả, đình
dục hoặc chậm động dục trở lại sau khi đẻ, ho và viêm phổi',N'Bệnh Tai xanh không điều trị được bằng kháng sinh. Muốn phòng được bệnh dịch
tả lợn phải tiêm phòng cho lợn bằng vắc xin Tai xanh JXA1 -R nhược độc và các loại vắc xin khác như dịch tả lợn, tụ huyết trùng lợn...để hạn chế các bệnh kế phát.' )

-- BENH CAY TRONG
GO
--NCC
INSERT dbo.NHA_CUNG_CAP( IDNCC ,TENNCC ,TENSPCUNGCAP ,DIACHI ,SDT)
VALUES  ( 'NCC1' , N'VĂN TRUNG 1' ,N'PHỤ PHẨM CHĂN NUÔI' , N'785 NGUYỄN KIỆM- HỒ CHÍ MINH' , '016689783' )